{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Groma | Alta de gestiones
{% endblock %}

{% block content %}

<div class="row">
	<div class="offset-md-2 col-md-8">
		<h1>Nueva gestión</h1>
        <form action="" method="post" class = "form-horizontal" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
            {{ render_input(form.id_titular,'', id= "id_titular" , class="form-control", placeholder="Ingrese el nombre del titular", list="clientes", onkeypress="return evitarCaracter(event, '|');" ) }}
            {{ render_input(form.ubicacion_gestion,'', id= "ubicacion_gestion" , class="form-control", placeholder="Ingrese la ubicación del bien" ) }}
            {{ render_input(form.id_tipo_bienes,'', id= "id_tipo_bienes" , class="form-control") }}
            {{ render_input(form.fecha_inicio_gestion,'', id= "fecha_inicio_gestion" , class="form-control", type="date"  ) }}
            {{ render_input(form.fecha_probable_medicion,'', id= "fecha_probable_medicion" , class="form-control", type="date"  ) }}
            {{ render_input(form.id_tipo_gestion,'', id= "id_tipo_gestion" , class="form-control") }}
            {{ render_input(form.id_dibujante,'', id= "id_dibujante" , class="form-control", placeholder="Ingrese el nombre del dibujante", list="clientes", onkeypress="return evitarCaracter(event, '|');" ) }}
            {{ render_input(form.estado_parcelario,'', id= "estado_parcelario" , class="form-control", placeholder="Ingrese el estado parcelario") }}
            {{ render_input(form.numero_partida,'', id= "numero_partida" , class="form-control", placeholder="Ingrese el número de partida") }}
            {{ render_input(form.observacion,'', id= "observacion" , class="form-control", placeholder="Ingrese una observación") }}
            
            <datalist id="clientes">
                {% for cliente in clientes %}
                <option  value = "{{[cliente.id, cliente.descripcion_nombre, cliente.cuit]|join('|')}}">
                {% endfor %}
            </datalist>
            
            <button type="submmit" class="btn btn-primary">Guardar</button>
        </form>

{% endblock %}