{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Alta de presupuestos
{% endblock %}

{% block content %}

<div class="row">
	<div class="offset-md-2 col-md-8">
		<h1>Datos del cliente</h1>
        {% if datos_cliente|length == 0 %}
            <form action="" method="post" class = "form-horizontal" enctype="multipart/form-data" novalidate>	
                {{ form.hidden_tag() }}
                {{ render_input(form.nombre_cliente,'', id= "nombre_cliente" , class="form-control", placeholder="Ingrese el nombre cliente" ) }}
                {{ render_input(form.correo_electronico,'', id= "correo_electronico" , class="form-control", placeholder="Ingrese correo electronico del cliente" ) }}
                {{ render_input(form.fecha_vencimiento,'', id= "fecha_vencimiento" ,value = vencimiento_estimado.strftime('%Y-%m-%d'), class="form-control", type="date"  ) }}
                {{ form.condicion(type = "hidden", value = "cargacliente") }}
                <button type="submmit" class="btn btn-primary">Guardar</button>
            </form>
        {% else %}
            <div class = "container">
            <h3>Cliente: {{ datos_cliente[0] }}</h3>
            <h3>Correo electronico: {{ datos_cliente[1] }}</h3>
            <h3>Vencimiento: {{ datos_cliente[2] }}</h3>
            </div>
            {% if lista_productos_seleccion|length == 0 %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Agregar productos
                </button>
                <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Buscar Productos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1>Buscar productos</h1>
                                <form action="" method="post" enctype="multipart/form-data" novalidate>	
                                    {{ form.hidden_tag() }}
                                    {{ render_input(form.buscar,'', id= "buscar" , class="form-control", placeholder="Ingrese un código de barras o la descripción de un producto" ) }}
                                    {{ form.condicion(type = "hidden", value = "buscarproductos") }}
                                    {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
                                    {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
                                    {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submmit" class="btn btn-primary" >Buscar</button>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif%} 
        {% endif%}
            
	</div>
</div>

{% if lista_productos_seleccion %}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">PRODUCTO</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">IMPORTE</th>
            <th scope="col">SELECCIONAR</th>
            <th scope="col">ULTIMA MODIFICACION</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in lista_productos_seleccion %}
            
            <form action="" method="post" enctype="multipart/form-data" novalidate>	
                {{ form.hidden_tag() }}
                <!-- aca control ultimo movimiento -->
                {% if producto[4] < fecha_tope %}
                <tr class="text-danger">
                {{ form.condicion(type = "hidden", value = "agregaproducto") }}
                {{ form.id(type = "hidden", value = producto[0]) }} 
                {{ form.descripcion(type = "hidden", value = producto[1]) }} 
                {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
                {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
                {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }}
                    <th scope="row">{{ producto[0] }}</th>
                    <td> {{ producto[3] }} </td>
                    <td> {{ producto[1] }}</td>
                
                    <td> {{ form.cantidad( value = 1, class="text-danger") }} </td>
                    <td> {{ form.importe(value = producto[2], class="text-danger") }} </td>
                    <td> {{ producto[4].strftime('%d-%m-%Y') }}</td>
                    
                    
                    <td> <button type="submmit" class="btn btn-primary" >OK</button> </td>
                </tr>
                {% else %}
                <tr >
                    {{ form.condicion(type = "hidden", value = "agregaproducto") }}
                    {{ form.id(type = "hidden", value = producto[0]) }} 
                    {{ form.descripcion(type = "hidden", value = producto[1]) }}
                    {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
                    {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
                    {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }} 
                        <th scope="row">{{ producto[0] }}</th>
                        <td> {{ producto[3] }} </td>
                        <td> {{ producto[1] }}</td>
                    
                        <td> {{ form.cantidad( value = 1) }} </td>
                        <td> {{ form.importe(value = producto[2]) }} </td>
                        <td> {{ producto[4].strftime('%d-%m-%Y') }}</td>
                        
                        <td> <button type="submmit" class="btn btn-primary" >OK</button> </td>
                    </tr>
                {% endif %}
            </form>
            
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% if lista_productos_presupuesto %}
<h1>Productos del presupuesto</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">PRODUCTO</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">IMPORTE UNITARIO</th>
            <th scope="col">IMPORTE TOTAL</th>
            <th scope="col">ACCION</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in lista_productos_presupuesto %}
            
                <th scope="row">{{ producto[0] }}</th>
                    
                    <td> {{ producto[1] }} </td>
                    <td> {{ producto[2] }}</td>
                    <td> {{ producto[3] }} </td>
                    <td> {{ producto[3] *  producto[2] }} </td>
                <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acción
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="" method="post" enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        {{ form.condicion(type = "hidden", value = "borraproducto") }} 
                        {{ form.registro(type = "hidden", value =  loop.index  ) }}
                        {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
                        {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
                        {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }} 
                        <button type="submmit" class="dropdown-item" >Eliminar</button>
                    </form>
                </div>
            </td>
            </div>
        </tr>
            
        {% endfor %}
    </tbody>
</table>
<form action="" method="post" enctype="multipart/form-data" novalidate>	
    {{ form.hidden_tag() }}
    {{ form.condicion(type = "hidden", value = "grabapresupuesto") }}
    {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
    {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
    {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }}
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button type="submmit" class="btn btn-primary" >Confirmar presupuesto</button> </td>
             </div>
        </div>
    </div>
</form>
<form action="" method="post" enctype="multipart/form-data" novalidate>	
    {{ form.hidden_tag() }}
    {{ form.condicion(type = "hidden", value = "cancelapresupuesto") }}
    {{ form.nombre_cliente(type = "hidden", value = datos_cliente[0]) }}
    {{ form.correo_electronico(type = "hidden", value = datos_cliente[1]) }}
    {{ form.fecha_vencimiento(type = "hidden", value = datos_cliente[2]) }}
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button type="submmit" class="btn btn-primary" >Cancelar presupuesto</button> </td>
             </div>
        </div>
    </div>
</form>

{% endif %}

{% endblock %}