alembic==1.11.3
blinker==1.6.2
click==8.1.7
email-validator==2.0.0.post2
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Flask==2.3.2
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
mysql-connector-python==8.1.0
openpyxl==3.1.2
pandas==2.0.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-slugify==8.0.1
rsa==4.9
six==1.16.0
SQLAlchemy==2.0.20
text-unidecode==1.3
Werkzeug==2.3.7
WTForms==3.0.1