{% extends "base_template.html" %}

{% block title %}
    aicrag | Presupuestos
{% endblock %}

{% block content %}
<div class="col-12">  
    {% if vencimiento_si_no %}
      <h1 class="text-danger">Presupuesto {{ vencimiento_si_no }}</h1>
    {% else %} 
    <a href="{{ url_for('gestiones.modificacion_datos_cliente', id_presupuesto = cabecera.id) }}">
      <button class="btn btn-primary">Modificar datos del cliente</button>
    </a> 
    <a href="{{ url_for('gestiones.modificacion_productos_presupuesto', id_presupuesto = cabecera.id) }}">
      <button class="btn btn-primary">Modificar datos del presupuesto</button>
    </a>  
      
      <h1 class="text-success">Presupuesto VIGENTE</h1>
    {% endif %}
    <div id="zona_print">
      <div class="row my-3">
        <div class="col-10">
          <h1>Libreria Del carril</h1>
          <p>Av. Salvador María del Carril 3124</p>
          <p>Ciudad autónoma de Buenos Aires</p>
        
        </div>
        <div class="col-2">
          <!-- <img src="~/images/Mil-Pasos_Negro.png" /> -->
        </div>
      </div>
    
      <hr>
    
      <div class="row mt-3">
        <div class="col-3">
          <h5>Presupuesto para: </h5>
          <p>
            {{ cabecera.nombre_cliente }}
          </p>
        </div>
        <div class="col-3">
          <h5>Enviar a: </h5>
          <p>
            {{ cabecera.correo_electronico }} 
          </p>
        </div>
        <div class="col-3">
          <h5>N° de presupuesto: </h5>
          <h5>Fecha: </h5>
          <h5>Fecha de vencimiento: </h5>
        </div>
        <div class="col-3">
          <h5>{{ cabecera.id }}</h5>
          <p >{{ cabecera.created.strftime('%d-%m-%Y') }}</p>
          <p>{{ cabecera.fecha_vencimiento.strftime('%d-%m-%Y') }} </p>
        </div>
      </div>
    
      <div class="row my-5 mx-auto">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cant.</th>
              <th>Descripcion</th>
              <th>Precio Unitario</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
              <tr>
                
                  <td>{{ producto.id_producto }} </td>
                  <td>{{ producto.cantidad }} </td>
                  <td>{{ producto.descripcion }} </td>
                  <td>{{ producto.importe|round(2) }} </td>
                  <td>{{ (producto.cantidad * producto.importe)|round(2) }} </td>
                
              </tr>
            {% endfor %}
            
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>Total presupuesto</th>
              <th> {{ cabecera.importe_total|round(2) }} </th>
            </tr>
          </tfoot>
        </table>
      </div>
    
      <!-- <div class="row">
        <div class="col-12 mt-3">
          <h4>Condiciones y formas de pago</h4>
          <p>El pago se debe realizar en un plazo de 15 dias.</p>
          <p>
            Banco Banreserva
            <br />
            IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
            <br />
            Código SWIFT: BPDODOSXXXX
          </p>
        </div>
      </div> -->
       
    </div>
  <a href="javascript:imprSelec('zona_print','Presupuesto')" >
    <button class="btn btn-primary">Imprimir</button>
  </a>  
</div>




{% endblock %}