{% extends "base_template.html" %}

{% block title %}
    Groma | Reportes
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <ul class="nav flex-column">
                {% for tipo_de_grafico in graficos %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('consultas.reportes', reporte=tipo_de_grafico[0]) }}">
                        
                        <button class="btn btn-light my-2 my-sm-0">{{ tipo_de_grafico[1] }}</button>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% if diccionario %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="text-center">{{ label_grafico }}</h2>
                        <canvas id="{{ id_canvas }}"></canvas>
                        <div id="{{ id_div_chartdata }}" data-labels='{{ diccionario["label"]|tojson }}'
                            data-values='{{ diccionario["valor"]|tojson }}' data-label="{{ label_grafico }}"
                            style="display: none;"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </main>
    </div>
</div>
{% endblock %}