
{% extends "base_template.html" %}

{% block title %}Groma | Charts{% endblock %}

{% block content %}
<h6>Reportes</h6>
    <!-- Page Wrapper -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Gráfico de Barras</h2>
                <canvas id="barChart"></canvas>
                <div id="chartDataBar" data-labels='{{ labels|tojson }}'
                                    data-values='{{ values|tojson }}' 
                                    data-label="Gestiones"
                                    style="display: none;"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Gráfico de linea</h2>
                <canvas id="lineChart"></canvas>
                <div id="chartDataLine" data-labels='{{ labels|tojson }}'
                                    data-values='{{ values|tojson }}' 
                                    data-label="Gestiones"
                                    style="display: none;"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Gráfico de torta</h2>
                <canvas id="pieChart"></canvas>
                <div id="chartDataPie" data-labels='{{ labels|tojson }}'
                                    data-values='{{ values|tojson }}' 
                                    data-label="Gestiones"
                                    style="display: none;"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Gráfico de radar</h2>
                <canvas id="radarChart"></canvas>
                <div id="chartDataRadar" data-labels='{{ labels|tojson }}'
                                    data-values='{{ values|tojson }}' 
                                    data-label="Gestiones"
                                    style="display: none;"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Gráfico de dona</h2>
                <canvas id="doughnutChart"></canvas>
                <div id="chartDataDoughnut" data-labels='{{ labels|tojson }}'
                                    data-values='{{ values|tojson }}' 
                                    data-label="Gestiones"
                                    style="display: none;"></div>
            </div>
        </div>
    </div>
{% endblock %}