{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Alta masiva de productos
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Alta individual de productos</h1>

		<form action="" method="post" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			{{ render_input(form.id_proveedor,'', id= "id_proveedor" , class="form-control" ) }}
			{{ render_input(form.archivo,'', id= "archivo" , class="form-control", placeholder="Seleccione un archivo", accept = ".xlsx" ) }}
            <button type="submmit" class="btn btn-primary" >Crear archivo</button>
			
		</form>
	</div>
</div>

{% endblock %}